*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
#main{
background-color: rgb(214, 214, 214);
    height: 120vh;
}



.no-gutters {
    margin-right: 0;
    margin-left: 0;
}


#weather-card2,
#weather-cardday2,
#weather-cardday3,
#weather-cardday4,
#weather-cardday5,
#weather-cardday6 {
    border: solid black 1px;
    margin: 10px;
    padding: 10px;
    -webkit-box-shadow: 5px 5px 22px -1px rgba(0,0,0,0.37); 
    box-shadow: 5px 5px 22px -1px rgba(0,0,0,0.37);
    background-color: white;
}

#temp {
    font-size: 500%;
}

#location,
#description{
    font-size: 120%;
    color: cadetblue;
    border-bottom: solid black 1px;
}   

#humidity,
#wind-speed,
#clouds{
    color: rgb(148, 148, 148);
    padding: 15px;
    margin: 5px 10px;
    text-align: center;
}

.clear{
    background: url("./photos/clear.jpg") !important;
}

.clouds{
    background: url("./photos/cloud.jpg") !important;
}

.thunderstorm{
    background: url("./photos/thunderstorm.jpg") !important;
}

.drizzle{
    background: url("./photos/rain.jpg") !important;
}

.rain{
    background: url("./photos/rain.jpg") !important;
}

.snow{
    background: url("./photos/snow.jpg") !important;
}


#past-searches li {
    list-style: none;
    width: 90%;
    margin:0;
}


#past-searches{
    padding-left: 0rem !important;
}
